@import url('./fonts.css');

body{
    font-family: 'open_sans', Helvetica, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    background: #1a1b1c;
    height: 75px;
    color: #ffffff;
    
    font-weight: bold;
} 

.container{
    width: 1060px;
    margin: 0 auto;
}

.logo{
    display: inline-block;
    padding: 25px 0px;
}

.logo__text{
    text-transform: uppercase;   
    font-family: 'gora_free';
    font-size: 18px;
    color: #e1942a;
    letter-spacing: 0.2em;
}


.sidebar{
    display: inline-block;
    margin: 0 auto;
}

.nav{
    display: inline-block;
}
.nav__item-text{
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;  
}

.nav__item-text--icon-main:before{
    content: url(../image/icons/sidebar/main_icon.png);
    width: 20px;
    height: 18px;
}

.nav__item-text--icon-feed:before{
    content: url(../image/icons/sidebar/feed_icon.png);
    width: 20px;
    height: 18px;
}

.nav__item-text--icon-service:before{
    content: url(../image/icons/sidebar/service_icon.png);
    width: 20px;
    height: 18px;
}

.nav__item-text--active{
    color:#e1942a;
}

/* не прижемается к топу */
.nav__item{
    vertical-align: top;
}

.company-info{
    display: inline-block;
    text-align: right;
}

.company-info__tel-number{
    font-size: 21px;
}

.company-info__schedule{
    color: #e1942a;
    font-size: 14px;
    text-decoration:underline;
}